.sheetSections {
    display: flex;       /* enables horizontal layout */
    flex-direction: row;
    color: white
}

.charInfo {
    flex: 1;       /* 25% width, no shrinking or growing */
    padding: 20px;
}
.charInfo img {
    max-width: 100%;   /* image won’t exceed container width */
    height: auto;      /* maintain aspect ratio */
    display: block;    /* removes small gaps below the image */
    margin: 20px auto;
}

.gameplay {
    flex: 3;             /* takes the remaining 75% */
    padding: 20px;
    flex-direction: column;
}

.stats {
    display: flex;
    flex-direction: row;
}
.evenSpacing{
    flex:1;
}

.attribute{

}

.fillWidthTextbox {
    border: 1px solid rgb(218, 185, 0);
    position: relative;
    align-items: center;
    margin-left: 1%;

    width: 98.5%;
    background-color: rgba(145, 145, 145, 0.7);
    padding: 15px;          
    display: inline-block;
    }