body {

    /*background image stuff*/
     
    margin: 0px;
    height: 100vh;
    background-color: hsl(223, 57%, 20%); /* fallback / base color */

    
    display: flex;
    flex-direction: column;
  }

header{
    padding: 10px;
    border-bottom: 1px solid rgb(218, 185, 0);
    height: 130px;
    flex: 0 0 0px;
    color: white;
    background-color: hsl(223, 57%, 20%);
    margin: 0;
    }

.navbar{
    display: flex;
    max-width: fit-content;
    color: white;
    }
.navbar a{
    color: white;
    }


main {
    background-color: hsl(222, 90%, 9.5%); /* fallback / base color */

    padding: 15px;
    gap: 15px;
    flex-direction: column;
    color:white;
    flex: 1;
    display: flex;
    text-align: left;


    background-image: url("https://cdn.shopify.com/s/files/1/0886/8082/5106/files/stormlight-original_April-7-2020.jpg");
    
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% 90%;
    background-attachment: fixed;
    }

.textbox {
        background-color: rgba(145, 145, 145, 0.7); /* white with 70% opacity */
        padding: 20px;          
        border-radius: 10px;    
        display: inline-block;
    }

footer {
    flex: 0 30px;
    background: hsl(180, 10%, 10%);

    }